@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@300;400&display=swap');
* {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #747474;
    margin: 0;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 10;
    flex-wrap: wrap;
    background: hsla(0,0%,100%,.98);
    transition: box-shadow .25s ease 0s;
    box-shadow: 0 -2px 10px 0 rgb(0 0 0 / 15%);
}

main {
    z-index: 5;
}

/* max-width every slide */  /*  */
.max-width {
    zoom: 1;
    max-width: 980px;
    padding: 0 20px;
    margin: 0 auto;  
    position: relative;
}

#docplanner-group-home {
    width: 268px;
    margin-top: 15px;
}


/* navbar */
nav {
    height: 70px;
    display: flex;
    float: right;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

#about-us,
#carrer,
#dropdown-nav > a {
    padding: 0 10px;
    text-decoration: none;
    font-size: 15px;
}

#about-us {
    color: #00B39B;
}

#carrer,
#dropdown-nav > a {
    color: #ababab;
}


/* container-introduction */
.container-introduction {
    margin-top: 100px;
}

.introduction-up {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.introduction-up ~ h1 {
    font-size: 32px;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 32px;
    color: #00B39B;
    margin: 40px 0;
    font-weight: 300;
}

.introduction-down {
    display: flex;
    line-height: 1.75;
}

.introduction-down > p {
    width: 50%;
    margin: 12px 5px;
    /* padding: px; */
}


/* container-card */
.container-card {
    display: flex;
    /* height: 345px; */
    /* width: 980px; */
    overflow: hidden;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-content: center; */
    margin-top: 80px;
    /* flex-direction: row */
}

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 32px 32px 0;
    border-radius: 10px;
    margin: 0 10px;
    min-height: 300px;
    width: 100%;
}

.card > h1 {
    /* font-weight: 400; */
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    margin: 0;
    padding-top: 10px;
}

.card > p {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    padding-top: 20px;

}

.dropdown-card {
    border: 3px solid #8AC007;
    display: flex;
    justify-content: center;
    flex-basis: 100px;
    justify-content: left;
    align-items: flex-end;
    position: relative;
}

.dropdown-right {
    margin-bottom: 10px;
}

/* background: no-repeat url(/icons/icon-caret-white.svg) 50% 50%; */

.left {
    background-color: #00CCB1;
}

.left > img {
    width: 30px;
    height: 22px;
}

.middle {
    background-color: #3D83DF;
}

.middle > img {
    width: 25px;
    height: 25px;
}

.right {
    background-color: #1B2734;
}

.right > img {
    width: 25px;
    height: 25px;
}


/* container-logo */
.container-logo {
    display: flex;
}

.container-logo > h1 {
    font-size: 26px;
    width: 30%;
    margin-top: 60px;
    padding-right: 16px;
}

.logo {
    width: 70%;
}

ul {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
}

li {
    list-style: none;
    display: inline-block;
    width: calc(100% / 4);    
}
/* .li-up {
    list-style: none;
    display: inline-block;
    width: calc(100% / 4);
}
    
.li-down {
    list-style: none;
    display: inline-block;
    width: calc(100% / 5);
} */

.svg-color {        
    fill:#747474;
}
.svg-color:hover{  
    fill: #00CCB1;  

}

.img-color {
    filter: grayscale(100%);
}

.img-color:hover {
    filter: grayscale(0);
}

/* container-info */
.container-info {
    background-color: #d5f4f1;
    background-image: url(./img/docplanner-logo-big.png);
    background-repeat: no-repeat;
    background-position: bottom -65% left 13%;
}

.max-height {
    min-height: 78vh;
    padding-bottom: 18px;
}

.info-wrapper {
    padding-top: 25px;
    display: flex;
}

.info-left {
    width: 50%;
}

.info-wrapper-right {
    min-height: 100%;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: right;
}

.info-right-content {
    display: flex;
    flex-basis: calc(50% - 50px); /* width */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.info-right-content > h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    color: #00B39B;
    font-weight: 300;
    margin: 10px 0;
}

.info-right-content > p {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #747474;
    font-weight: 300;
}

.box-1,
.box-2,
.box-3,
.box-4 {
    background-color: #FFFFFF;
    height: 250px;
    border-radius: 5px;
    padding-top: 0;
    padding-bottom: 0;
}

.box-2,
.box-4 {
    margin-left: 22px;
}

.box-3,
.box-4 {
    margin-top: 5px;
}

.box-1 {
    align-self: flex-end;
}

.box-3 {
    align-self: flex-end;
    margin-bottom: 20px;
}

#flag {
    width: 32px;
    height: 40px;
}

#patients {
    width: 40px;
    height: 32px;
}

#visits {
    width: 40px;
    height: 40px;
}

#doctors {
    width: 40px;
    height: 40px;
}








/* container-city */
.city-up {
    text-align: center;
}

.city-up > h1 {
    margin-top: 100px;
}

.max-width-city-up {
    zoom: 1;
    max-width: 580px;
    /* padding: 0 20px; */
    margin: 0 auto;  
    position: relative;
}

#city-p {
    margin: 5px 26px 26px 26px;
    line-height: 26px;
    font-size: 15px;
}

.city-center {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 270px 25px 270px 25px 270px 25px;
    grid-gap: 30px;
}

/* .city-center:hover {

} */

.city-center-img > img {
    border-radius: 5px;
}

.warsaw {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.barcelona {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.munich {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
/*  */
.istanbul {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.rome {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.bologna {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
/*  */
.curitiba {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
}

.rio-de-janeiro {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

.mexico-city {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}

.city-center-desc {
    padding: 1.2em;
}

.btn-small {
    float: right;
    background-color: #2679e6;
    color: white;
    font-size: 10px;
    border-radius: 4px;
    margin: 0;
    padding: 5px;
    text-align: center;
    position: relative;
    /* height: 3em; */
}

.btn-small:hover {
    cursor: pointer;
    background-color: #1662C6;
}


/* city-bottom */
.city-bottom {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.city-bottom > h1 {
    color: black;
}

.city-bottom > button {
    background-color: #2679e6;
    color: white;
    font-size: 10px;
    border-radius: 4px;
    margin: 0;
    padding: 5px;
    text-align: center;
    position: relative;
    width: 180px;
    height: 50px;
}


/* footer */
footer {
    position: relative;
    display: inline;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 12px;
    color: #ABABAB;
    /* padding: 16px 0; */
}