@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@300;400&display=swap');
* {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #747474;
    margin: 0;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 10;
    flex-wrap: wrap;
    background: hsla(0,0%,100%,.98);
    transition: box-shadow .25s ease 0s;
    box-shadow: 0 -2px 10px 0 rgb(0 0 0 / 15%);
}

main {
    z-index: 5;
}

/* max-width every slide */  /*  */
.max-width {
    zoom: 1;
    max-width: 980px;
    padding: 0 20px;
    margin: 0 auto;  
    position: relative;
}

#docplanner-group-home {
    width: 268px;
    margin-top: 15px;
}

/* navbar */
nav {
    height: 70px;
    display: flex;
    float: right;
    flex-wrap: wrap;
    align-items: center;
}

#about-us,
#carrer,
.dropdown-nav-text > a {
    padding: 0 10px;
    text-decoration: none;
    font-size: 15px;
}

#about-us {
    color: #00B39B;
}

#carrer, 
.dropdown-nav-text > a {
    color: #ababab;
}

#carrer:hover, 
.dropdown-nav-text > a:hover {
    color: #00B39B;
}

/* NAV DROPDOWN PROCESS */
.dropdown-nav {
    display: flex;
    position: relative;
}

.dropdown-nav-menu {
    background-color: #FFFFFF;
    position: absolute;
    width: 200px;
    padding: 10px 5px;
    margin-top: 20px;
    margin-left: -100px;
    display: none;                      /* FOR ELIMINATE TEMPORARILY */
    box-shadow: 1px 1px 1px 1px grey;
}

.dropdown-nav:hover > .dropdown-nav-menu{
    display: block;
}

.dropdown-nav-p {
    padding: 10px 0;
}

.dropdown-nav-p:hover {
    background-color: #F6F8F8;
}

.dropdown-nav-a {
    text-decoration: none;
}

.dropdown-nav-a:hover {
    color: #00B39B;
}

/* container-introduction */
.container-introduction {
    margin-top: 100px;
}

.introduction-up {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.introduction-up ~ h1 {
    font-size: 32px;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 32px;
    color: #00B39B;
    margin: 40px 0;
    font-weight: 300;
}

.introduction-down {
    display: flex;
    line-height: 1.75;
}

.introduction-down > p {
    width: 50%;
    margin: 12px 5px;
}

/* container-card */
.container-card {
    display: flex;
    overflow: hidden;
    margin-top: 80px;
}

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 32px 32px 0;
    border-radius: 10px;
    margin: 0 10px;
    min-height: 300px;
    width: 100%;
}

.left {
    background-color: #00CCB1;
}

.middle {
    background-color: #3D83DF;
}

.right {
    background-color: #1B2734;
}

.card-content-left > img {
    width: 30px;
    height: 22px;
}

.card-content-middle > img {
    width: 25px;
    height: 25px;
}

.card-content-right > img {
    width: 25px;
    height: 25px;
}

.card-content-left > h1,
.card-content-middle > h1,
.card-content-right > h1 {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    margin: 0;
    padding-top: 10px;
}

.card-content-left > p,
.card-content-middle > p,
.card-content-right > p {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    padding-top: 20px;
}

#dropdown-select-left,
#dropdown-select-middle {
    margin-top: 70px;
    width: 150px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
    text-decoration: underline;
}

#dropdown-select-right {
    margin-top: 20px;
    width: 150px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
    text-decoration: underline;
}

#dropdown-select-right-2 {
    margin-top: 10px;
    width: 200px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
    text-decoration: underline;
}

#dropdown-select-left > option,
#dropdown-select-middle > option,
#dropdown-select-right > option {
    color: black;
}

/* container-logo */
.container-logo {
    display: flex;
}

.container-logo > h1 {
    font-size: 26px;
    width: 30%;
    margin-top: 60px;
    padding-right: 16px;
}

.logo {
    width: 70%;
}

ul {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
}

li {
    list-style: none;
    display: inline-block;
    width: calc(100% / 4);    
}

.svg-color {        
    fill:#747474;
}
.svg-color:hover{  
    fill: #00CCB1;  

}

.img-color {
    filter: grayscale(100%);
}

.img-color:hover {
    filter: grayscale(0);
}

/* container-info */
.container-info {
    background-color: #d5f4f1;
    background-image: url(./img/docplanner-logo-big.png);
    background-repeat: no-repeat;
    background-position: bottom -65% left 13%;
    position: relative;
    z-index: 1;
}

.info-wrapper-all {
    padding-top: 25px;
    display: flex;
}

.max-height {
    min-height: 78vh;
}
.info-left {
    width: 45%;
}

.info-wrapper-right {
    justify-content: center;
    position: relative;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 230px);
    grid-template-areas: 
        "box-1 box-2"
        "box-3 box-4";
    width: 55%;
    gap: 40px 90px;
    margin-top: 20px;
}

.info-content-right {
    text-align: center;
    padding-top: 30px
}

.info-content-right > h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    color: #00B39B;
    font-weight: 300;
    margin: 10px 0;
}

.info-content-right > p {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #747474;
    font-weight: 300;
}

.box-1 {
    grid-area: box-1;
}

.box-2 {
    grid-area: box-2;
    align-self: end;
}

.box-3 {
    grid-area: box-3;
}

.box-4 {
    grid-area: box-4;
    align-self: end;
}

.box-1,
.box-2,
.box-3,
.box-4 {
    background-color: #FFFFFF;
    width: 220px;
    height: 220px;
    border-radius: 5px;
    margin-top: 10px;
}

#flag {
    width: 32px;
    height: 40px;
}

#patients {
    width: 40px;
    height: 32px;
}

#visits {
    width: 40px;
    height: 40px;
}

#doctors {
    width: 40px;
    height: 40px;
}

/* container-city */
.city-up {
    text-align: center;
}

.city-up > h1 {
    margin-top: 100px;
}

.max-width-city-up {
    zoom: 1;
    max-width: 580px;
    margin: 0 auto;  
    position: relative;
}

#city-p {
    margin: 5px 26px 26px 26px;
    line-height: 26px;
    font-size: 15px;
}

.city-center {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 310px);
    grid-template-rows: 270px 25px 270px 25px 270px 25px;
    grid-gap: 30px;
}

.city-center-a {
    text-decoration: none;
    /* box-shadow: ; */
}

.city-center-img > img {
    border-radius: 5px;
}

.warsaw {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.barcelona {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.munich {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
/*  */
.istanbul {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.rome {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.bologna {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
/*  */
.curitiba {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
}

.rio-de-janeiro {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

.mexico-city {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}

.city-center-desc {
    padding: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-small {
    background-color: #2679e6;
    color: white;
    font-size: 10px;
    border-radius: 4px;
    margin: 0;
    padding: 8px 15px;
    position: relative;
}

.btn-small:hover {
    cursor: pointer;
    background-color: #1662C6;
    border-radius: 4px;
}

/* city-bottom */
.city-bottom {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.city-bottom > h1 {
    color: black;
}

.city-bottom > button {
    background-color: #2679e6;
    color: white;
    font-size: 10px;
    border-radius: 4px;
    margin: 0;
    padding: 5px;
    text-align: center;
    position: relative;
    width: 180px;
    height: 50px;
}

/* footer */
footer {
    position: relative;
    display: inline;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 12px;
    color: #ABABAB;
    /* padding: 16px 0; */
}